* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 14px;
}

.colorTitulos{
    color: #e60068;
    font-weight: bold;
    padding: 3px;
    font-size: 20px;
}

/*==========================================*/
/*=================HEADER=============*/
/*==========================================*/
.spanHeader {
    color: rgb(173, 11, 11);
    font-size: 3rem;
}

.list-group-item {
    background: none !important;
    border: none !important;
}

.imgSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./imagenes/background-3104413_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    clip-path: circle(0px at center);
}

.textContainer {
    position: relative;
    margin-top: 200vh;
    background: #fff;
    padding: 100px;
}

.textContainer h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.titleHeader {
    position: relative;
    top: 100px;
    z-index: 1;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

.flip-in-hor-bottom {
    -webkit-animation: flip-in-hor-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: flip-in-hor-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}

@keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1;
    }
}


.listBorderStyle{
    list-style: none;
    border-bottom: solid 2px #e60068;
    padding: 0;
}

/*==========================================*/
/*=================FIN HEADER=============*/
/*==========================================*/

.module-border-wrap {
    max-width: 100%;
    padding: 1.5rem;
    position: relative;
    background: linear-gradient(90deg, rgba(252,20,216,1) 0%, rgba(210,6,6,1) 59%, rgba(255,132,0,1) 100%);
    padding: 3px;
  }
  
  .module {
    background: rgba(97, 97, 97, 0.74);
    color: white;
    padding: 2.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
  }

.c-preview {
  background: #000;
  background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  display: flex;
  width: 500px;
  height: 500px;
  max-width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: 0.5s all;
  border-radius: 4px;
  box-shadow: 21px -23px 5px -6px rgba(230,230,230,0.76);
}
.c-preview__img {
  position: absolute;
  left: 0;
  top: 0;
  background: #000 url(./imagenes/tpclinica.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: screen;
}
.c-preview__img2 {
    position: absolute;
    left: 0;
    top: 0;
    background: #000 url(./imagenes/tpnoticia.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    mix-blend-mode: screen;
  }
  .c-preview__img3 {
    position: absolute;
    left: 0;
    top: 0;
    background: #000 url(./imagenes/tpperfumeria.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    mix-blend-mode: screen;
  }
  .c-preview__img4 {
    position: absolute;
    left: 0;
    top: 0;
    background: #000 url(./imagenes/RollingBank.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    mix-blend-mode: screen;
  }
.c-preview__title {
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.c-preview:hover {
  background-position: 100% 100%;
}
.c-preview:hover__title {
  text-shadow: 0 0 20px black;
}


/*==========================================*/
/*=================Footer=============*/
/*==========================================*/

footer{
    text-decoration: none;
    position: absolute;
    color: white;
    background: black;
    height: fit-content;
    width: 100%;
}

footer a{
    text-decoration: none;
   cursor: pointer;
    color: white;
}

.box{
    position: relative;
    bottom: -100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.box span {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.box span:nth-child(1){
    transform: rotate(0deg);
    width: 100%;
}
.box span:nth-child(3){
    transform: rotate(180deg);
}
.box span:nth-child(4){
    transform: rotate(270deg);
}

.box span::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(252,20,216,1) 0%, rgba(210,6,6,1) 59%, rgba(255,132,0,1) 100%);
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: scaleX(0);
        transform-origin: left;
    }
    50%
    {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1%
    {
        transform: scaleX(1);
        transform-origin: right;
    }
    100%
    {
        transform: scaleX(0);
        transform-origin: right;
    }
}


.heartbeat:hover {
    opacity: .5;
    background:linear-gradient(90deg, rgba(252,20,216,1) 0%, rgba(210,6,6,1) 59%, rgba(255,132,0,1) 100%);
    border-radius: 3%;
    text-decoration: none;
    color: black;
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-2-16 21:28:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  